@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Manrope', sans-serif;
  background-image: url(/public/bg-pattern.svg);
  background-repeat: no-repeat;
}
